* 
    margin: 0
    padding: 0
    box-sizing: border-box

body 
    font-family: 'Alata', sans-serif

a 
    text-decoration: none

.attribution
    font-size: 11px
    text-align: center

    a 
        color: hsl(228, 45%, 44%)

.nav-top
    position: fixed
    top: 0
    left: 0
    right: 0
    padding: 3rem 0 0 0
    z-index: 10
    transition: all 0.3s ease

    .nav-container 
        display: flex
        justify-content: space-between
        align-items: center

        .nav-logo 
            color: $cWhite
            font-size: $font-xl
            text-decoration: none
            font-weight: 600

        .nav-links
            display: flex
            justify-content: space-between
            width: 25%
            list-style: none

            a 
                color: $cWhite
                position: relative

                &::before
                    position: absolute
                    content: ""
                    height: 2px 
                    width: 0
                    opacity: 0
                    background: $cWhite
                    bottom: -10px
                    left: 50%
                    transform: translateX(-50%)
                    transition: 0.5s ease

                &:hover
                    &::before
                        width: 24px
                        opacity: 1

// NAV CLASS TOGGLE
.toggle 
    background: $cBlack
    padding: 1rem !important

// HAMBURGER MENU
.hamburger-menu 
    cursor: pointer
    height: 25px
    width: 40px
    display: flex
    flex-direction: column
    justify-content: space-between
    
    div 
        height: 3px
        width: 100%
        background: $cWhite

.container 
    // position: relative
    width: 80%
    max-width: 1400px
    margin: auto

.header 
    position: relative
    height: 80vh
    background: url(../images/desktop/image-hero.jpg)
    background-size: cover
    background-repeat: no-repeat
    background-position: center bottom
    overflow: hidden

    .cover 
        background: $cBlack
        position: absolute
        opacity: 0.4
        top: 0
        left: 0
        right: 0
        height: 100%
        z-index: 1

    h1
        position: absolute
        top: 50%
        font-family: 'Josefin Sans', sans-serif
        transform: translateY(-50%)
        padding: 2.5rem 4rem
        font-size: 80px
        letter-spacing: 12px
        font-weight: 200
        // line-height: 6rem
        text-transform: uppercase
        color: $cWhite
        border: 2px solid #fff
        z-index: 2 

        br.break 
            display: none

.section-1
    // height: 50vh
    padding: 100px 0

    .container
        position: relative
        overflow: hidden

    .reflector
        width: 100%
        height: auto

        img 
            width: 60%
            min-width: 300px
            height: auto
            // min-height: 500px
            display: block

        .card
            position: absolute
            height: auto
            max-width: 750px
            background: $cWhite
            padding: 100px 100px 0 100px
            right: 0
            bottom: 0
            z-index: 2

            h2 
                font-size: 3em
                font-weight: 400
                text-transform: uppercase
                font-family: 'Josefin Sans', sans-serif
                margin-bottom: 20px
                color: #2C2C2C

            p 
                font-size: 18px
                line-height: 30px
                color: #7E7E7E


.section-2 
    padding: 100px 0
    
    .container
        .section-head 
            display: flex
            justify-content: space-between
            align-items: center
            margin-bottom: 80px

        h2
            font-size: 3em
            font-weight: 400
            text-transform: uppercase
            font-family: 'Josefin Sans', sans-serif
            margin: 0
            color: #2C2C2C

        .btn 
            font-size: 20px
            text-transform: uppercase
            color: $cBlack
            background: $cWhite
            padding: 10px 50px
            border: 2px solid $cBlack
            transition: all 0.5s

            &:hover
                background: $cBlack
                color: $cWhite

        .gallery-row 
            width: 100%
            display: grid 
            grid-template-columns: 1fr 1fr 1fr 1fr
            grid-gap: 1em

            div 
                overflow: hidden
                height: 600px
                background: $cWhite
                position: relative

                img 
                    width: 100% 
                    height: 100%
                    transition: all 0.5s ease
                    opacity: 1

            
                p 
                    position: absolute
                    font-size: 40px
                    color: $cWhite
                    bottom: 30px
                    left: 30px
                    text-transform: uppercase
                    transition: 0.5s ease
                    font-family: "Josefin Sans", sans-serif
                    font-weight: 300

                &:hover
                    img 
                        transform: scale(1.1)
                        opacity: 0.5

                    p 
                        color: #000


.section-footer 
    padding: 4vh 0
    background: #000

    .container 
        .footer-upper 
            display: flex
            justify-content: space-between
            align-items: center
            margin-bottom: 20px

            a.footer-logo
                color: $cWhite
                font-size: $font-xl
                text-decoration: none
                font-weight: 600 

            .footer-social 
                list-style: none
                display: flex
                align-items: center
                
                li 
                    margin-left: 15px

                    a 
                        color: $cWhite
                        position: relative

                        &::before
                            position: absolute
                            content: ""
                            height: 2px 
                            width: 0
                            opacity: 0
                            background: $cWhite
                            bottom: -10px
                            left: 50%
                            transform: translateX(-50%)
                            transition: 0.5s ease

                        &:hover
                            &::before
                                width: 24px
                                opacity: 1

        .footer-lower 
            display: flex
            justify-content: space-between
            align-items: center

            .footer-links
                display: flex

                li 
                    margin-right: 30px
                    
                    a 
                        color: $cWhite 
                        position: relative

                        &::before
                            position: absolute
                            content: ""
                            height: 2px 
                            width: 0
                            opacity: 0
                            background: $cWhite
                            bottom: -10px
                            left: 50%
                            transform: translateX(-50%)
                            transition: 0.5s ease

                        &:hover
                            &::before
                                width: 24px
                                opacity: 1

            .copyright 
                color: rgba($cWhite, .5)
