@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Alata", sans-serif;
}

a {
  text-decoration: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #3e52a3;
}

.nav-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 3rem 0 0 0;
  z-index: 10;
  transition: all 0.3s ease;
}
.nav-top .nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-top .nav-container .nav-logo {
  color: #fff;
  font-size: 30px;
  text-decoration: none;
  font-weight: 600;
}
.nav-top .nav-container .nav-links {
  display: flex;
  justify-content: space-between;
  width: 25%;
  list-style: none;
}
.nav-top .nav-container .nav-links a {
  color: #fff;
  position: relative;
}
.nav-top .nav-container .nav-links a::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 0;
  opacity: 0;
  background: #fff;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s ease;
}
.nav-top .nav-container .nav-links a:hover::before {
  width: 24px;
  opacity: 1;
}

.toggle {
  background: #000;
  padding: 1rem 0 !important;
}

.hamburger-menu {
  cursor: pointer;
  height: 25px;
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hamburger-menu div {
  height: 3px;
  width: 100%;
  background: #fff;
}

.container {
  width: 80%;
  max-width: 1400px;
  margin: auto;
}

.header {
  position: relative;
  height: 80vh;
  background: url(../images/desktop/image-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  overflow: hidden;
}
.header .cover {
  background: #000;
  position: absolute;
  opacity: 0.4;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 1;
}
.header h1 {
  position: absolute;
  top: 50%;
  font-family: "Josefin Sans", sans-serif;
  transform: translateY(-50%);
  padding: 2.5rem 4rem;
  font-size: 80px;
  letter-spacing: 12px;
  font-weight: 200;
  text-transform: uppercase;
  color: #fff;
  border: 2px solid #fff;
  z-index: 2;
}
.header h1 br.break {
  display: none;
}

.section-1 {
  padding: 100px 0;
}
.section-1 .container {
  position: relative;
  overflow: hidden;
}
.section-1 .reflector {
  width: 100%;
  height: auto;
}
.section-1 .reflector img {
  width: 60%;
  min-width: 300px;
  height: auto;
  display: block;
}
.section-1 .reflector .card {
  position: absolute;
  height: auto;
  max-width: 750px;
  background: #fff;
  padding: 100px 100px 0 100px;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.section-1 .reflector .card h2 {
  font-size: 3em;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 20px;
  color: #2C2C2C;
}
.section-1 .reflector .card p {
  font-size: 18px;
  line-height: 30px;
  color: #7E7E7E;
}

.section-2 {
  padding: 100px 0;
}
.section-2 .container .section-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}
.section-2 .container h2 {
  font-size: 3em;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  color: #2C2C2C;
}
.section-2 .container .btn {
  font-size: 20px;
  text-transform: uppercase;
  color: #000;
  background: #fff;
  padding: 10px 50px;
  border: 2px solid #000;
  transition: all 0.5s;
}
.section-2 .container .btn:hover {
  background: #000;
  color: #fff;
}
.section-2 .container .gallery-row {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
}
.section-2 .container .gallery-row div {
  overflow: hidden;
  height: 600px;
  background: #fff;
  position: relative;
}
.section-2 .container .gallery-row div .desktop {
  display: block;
}
.section-2 .container .gallery-row div .mobile {
  display: none;
}
.section-2 .container .gallery-row div img {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
  opacity: 1;
}
.section-2 .container .gallery-row div p {
  position: absolute;
  font-size: 40px;
  color: #fff;
  bottom: 30px;
  left: 30px;
  text-transform: uppercase;
  transition: 0.5s ease;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}
.section-2 .container .gallery-row div:hover img {
  transform: scale(1.1);
  opacity: 0.5;
}
.section-2 .container .gallery-row div:hover p {
  color: #000;
}

.section-footer {
  padding: 4vh 0;
  background: #000;
}
.section-footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-footer .container .footer-upper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.section-footer .container .footer-upper a.footer-logo {
  color: #fff;
  font-size: 30px;
  text-decoration: none;
  font-weight: 600;
  margin-bottom: 20px;
}
.section-footer .container .footer-upper .footer-links {
  display: flex;
  list-style: none;
}
.section-footer .container .footer-upper .footer-links li {
  margin-right: 30px;
}
.section-footer .container .footer-upper .footer-links li a {
  color: #fff;
  position: relative;
}
.section-footer .container .footer-upper .footer-links li a::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 0;
  opacity: 0;
  background: #fff;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s ease;
}
.section-footer .container .footer-upper .footer-links li a:hover::before {
  width: 24px;
  opacity: 1;
}
.section-footer .container .footer-lower {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.section-footer .container .footer-lower .copyright {
  color: rgba(255, 255, 255, 0.5);
}
.section-footer .container .footer-lower .footer-social {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.section-footer .container .footer-lower .footer-social li {
  margin-left: 15px;
}
.section-footer .container .footer-lower .footer-social li a {
  color: #fff;
  position: relative;
}
.section-footer .container .footer-lower .footer-social li a::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 0;
  opacity: 0;
  background: #fff;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s ease;
}
.section-footer .container .footer-lower .footer-social li a:hover::before {
  width: 24px;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .nav-top .nav-links {
    display: none !important;
  }

  .header {
    height: 100vh;
    background-position: center;
  }
  .header h1 {
    font-size: 45px;
  }
  .header h1 br.break {
    display: block !important;
  }

  .section-1 {
    height: auto;
  }
  .section-1 .reflector {
    display: flex !important;
    flex-direction: column;
  }
  .section-1 .reflector img {
    height: auto !important;
    width: auto !important;
  }
  .section-1 .reflector .card {
    position: relative;
    padding: 100px 0 0;
    text-align: center;
  }

  .section-2 .section-head {
    justify-content: center !important;
  }
  .section-2 .section-head .btn {
    display: none;
  }
  .section-2 .gallery-row {
    display: block !important;
  }
  .section-2 .gallery-row div {
    height: 30vh !important;
    margin-bottom: 15px;
  }
  .section-2 .gallery-row div .desktop {
    display: none !important;
  }
  .section-2 .gallery-row div .mobile {
    display: block !important;
  }

  .section-footer {
    padding: 80px 0;
  }
  .section-footer .container {
    flex-direction: column;
    align-items: center;
  }
  .section-footer .footer-links {
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
  }
  .section-footer .footer-links li {
    margin-right: 0 !important;
    margin-bottom: 15px;
  }
  .section-footer .footer-upper {
    align-items: center !important;
    justify-content: center !important;
  }
  .section-footer .footer-lower {
    align-items: center !important;
  }
}

/*# sourceMappingURL=main.css.map */
