@media screen and ( max-width: 768px  )
    .nav-top 
        .nav-links
            display: none !important


    .header 
        height: 100vh
        background-position: center
        h1 
            font-size: 45px 

            br.break 
                display: block !important


    .section-1
        height: auto

        .reflector
            display: flex !important
            flex-direction: column

            img 
                height: auto !important
                width: auto !important

            .card 
                position: relative
                padding: 100px 0 0

                text-align: center

    .section-2 
        
        .section-head 
            justify-content: center !important

            .btn 
                display: none

        
        .gallery-row 
            display: block !important

            div 
                height: 30vh !important
                margin-bottom: 15px