@media screen and ( max-width: 1440px )
    .section-1 
        .reflector
            .card 
                padding: 3em 3em 0 3em
                width: 35em

                h2 
                    font-size: 2.5em
                    margin-bottom: 15px

                p 
                    font-size: 15px

@media screen and ( max-width: 1200px )
    .section-1 
        .reflector
            .card
                padding: 2.5em 2.5em 0 2.5em
                width: 30em

                h2 
                    font-size: 2em

                p 
                    font-size: 13px
                    line-height: 20px


    
@media screen and ( max-width: 1080px ) 
    .header 
        h1 
            width: 100%
            font-size: 50px
            padding: 2.5rem

            br.break 
                display: block !important

    .section-1
        height: auto

        .reflector
            display: flex !important
            flex-direction: column
            align-items: center

            img 
                height: auto !important
                width: 100%

            .card 
                position: relative
                padding: 100px 0 0
                text-align: center
                width: 100%

                h2 
                    font-size: 2.5em

                p 
                    font-size: 18px
                    line-height: 30px

    .section-2 
        .gallery-row 
            grid-template-columns: 1fr 1fr !important
    
    
@media screen and ( max-width: 768px  )
    .nav-top 
        .nav-links
            display: none !important

        .hamburger-menu 
            display: flex !important


    .header 
        height: 100vh
        background-position: center

        h1 
            font-size: 45px 
            padding: 2rem

    .section-1 
        padding: 50px 0

    .section-2 
        padding: 50px 0

        .section-head 
            justify-content: center !important
            margin-bottom: 50px !important

            .btn 
                display: none

        
        .gallery-row 
            display: block !important

            div 
                height: auto !important
                margin-bottom: 15px

                .desktop
                    display: none !important

                .mobile 
                    display: block !important


    .section-footer 
        padding: 80px 0

        .container
            flex-direction: column
            align-items: center

        .footer-links
            align-items: center
            flex-direction: column
            margin: 20px 0
            
            li 
                margin-right: 0 !important
                margin-bottom: 15px

        .footer-upper 
            align-items: center !important
            justify-content: center !important

        .footer-lower 
            align-items: center !important

@media screen and ( max-width: 600px )
    .header 
        h1 
            font-size: 25px 
            padding: 1.3rem

    .section-1 
        .container
            .reflector
                .card
                    h2
                        font-size: 2em

                    p 
                        font-size: 14px
                        line-height: 20px

    .section-2
        .container
            .section-head 
                h2 
                    font-size: 2em
            .gallery-row 
                div
                    p 
                        font-size: 25px
                        bottom: 25px
                        left: 25px


@media screen and ( max-width: 425px )
    .section-2
        .container
            .gallery-row 
                div
                    p 
                        font-size: 20px
                        bottom: 16px
                        left: 16px

    
