@media screen and ( max-width: 768px  )
    .nav-top 
        .nav-links
            display: none !important


    .header 
        height: 100vh
        background-position: center
        h1 
            font-size: 45px 

            br.break 
                display: block !important